.breadcrumbs {
  padding: 8px 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #e1e4e8;
  font-size: 14px;
}

.breadcrumb-item {
  color: rgb(4, 116, 229);
  cursor: pointer;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}
